@import "tailwindcss";

@layer components{
   .text-bg{
    background-image: linear-gradient(to right, #8750f7 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } 
  .custom-scrollbar::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }
   .custom-scrollbar::-webkit-scrollbar-track{
    background: #44028f;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb{
    background: #c277fa;
    border-radius: 6px;
  } 
}